:root {
  --color-blue: #04b4e0;
  --color-background: #eef3f5;
  --color-icon: #b5b6b7;
  --color-subtitle: #888888;
  --color-black: #222222;
  --color-white: #ffffff;
  --color-icon-white: #e6f7fb;
  --color-scrollbar: #d3d3d4;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: auto;

  font-size: 1.5rem;
  font-family: "poppins", Arial, sans-serif;
  background-color: var(--color-background);
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -50px -100px;

  color: var(--color-black);

  overflow: hidden;
}
