.layout__content {
  grid-area: content;
  height: 100%;
  min-height: 100%;
  background-color: var(--color-blue);
  border-radius: 0 10rem 10rem 0;
  -webkit-border-radius: 0 10rem 10rem 0;
  -moz-border-radius: 0 10rem 10rem 0;
  -ms-border-radius: 0 10rem 10rem 0;
  -o-border-radius: 0 10rem 10rem 0;
}

.content__page {
  min-height: 100%;
  background-color: var(--color-white);
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.page__name {
  font-size: 5rem;
  color: var(--color-black);
  letter-spacing: 2px;
}

.page__job {
  font-size: 2.5rem;
  font-weight: lighter;
  color: var(--color-subtitle);
  letter-spacing: 2px;
}

/* ESTILOS COMPARTIDOS CONTENEDOR PRINCIPAL(SOBRE MI, CURRICULUM, PORTAFOLIO, BLOG, CONTACTO) */

.content__about,
.content__resume,
.content__portfolio,
.content__blog,
.content__contact {
  display: block;
  min-height: 100%;
  height: 100%;
  overflow: auto;
  padding: 6rem;
  padding-right: 3rem;
}
